
<link rel="import" href="../../../client/bower_components/polymer/polymer.html">
<link rel="import" href="../../../client/bower_components/express-web-components/express-app.html">
<link rel="import" href="../../../client/bower_components/express-web-components/express-middleware.html">
<link rel="import" href="../../../client/bower_components/express-web-components/express-config.html">
<link rel="import" href="../../../client/bower_components/express-web-components/express-router.html">

<dom-module id="server-app">
    <template>
        <express-app port="[[port]]">
            <express-config callback="[[staticMW]]"></express-config>
            <express-middleware method="get" path="/" callback="[[indexHandler]]"></express-middleware>
            <express-router path="/api">
                <express-middleware method="get" path="/running-since" callback="[[runningSinceHandler]]"></express-middleware>
                <express-middleware method="get" path="/source-code" callback="[[sourceCodeHandler]]"></express-middleware>
                <express-middleware method="get" path="/cat-photo" callback="[[catHandler]]"></express-middleware>
                <express-middleware method="post" path="/cat-name" callback="[[catNameHandler]]"></express-middleware>
                <express-middleware method="get" path="/cats" callback="[[catsHandler]]"></express-middleware>
            </express-router>
        </express-app>
    </template>

    <script>System.import('components/app/app.component.ts');</script>
</dom-module>
