<link rel="import" href="/bower_components/polymer/polymer.html">
<link rel="import" href="/bower_components/iron-ajax/iron-ajax.html">

<dom-module id="client-app">
    <template>
        <iron-ajax id="ironAjax1" url="[[domain]]api/running-since" method="get" on-response="handleRunningSince"></iron-ajax>
        <iron-ajax id="ironAjax2" url="[[domain]]api/source-code" method="get" on-response="handleSourceCode" handle-as="text"></iron-ajax>
        <iron-ajax id="ironAjaxCat" url="[[domain]]api/cat-photo" method="get" on-response="handleCat" handle-as="blob"></iron-ajax>
        <iron-ajax id="ironAjaxCats" url="[[domain]]api/cats" method="get" on-response="handleCats" handle-as="json" auto></iron-ajax>

        <div>This page was served up from a headless Electron instance managed by Dokku. The server is written with <a href="https://github.com/scramjs/express-web-components" target="_blank">Express Web Components</a>.</div>
        <br>
        <div>Server running since: [[runningSince]]</div>
        <br>
        <div>Download and display cat photo:</div>
        <button on-click="getCat">Get cat</button>
        <button on-click="hideCat">Remove cat</button>
        <img src="[[catDataUrl]]">
        <br>
        <br>
        <div>Server HTML Source:</div>
        <button on-click="getSource">Get source</button>
        <button on-click="removeSource">Remove source</button>
        <!--TODO get syntax highlighting-->
        <pre id="sourcePre" style="background: rgba(0, 0, 0, .1); padding: 25px" hidden="[[hideSourcePre]]">
            [[serverSource]]
        </pre>

        <template is="dom-repeat" items="[[catNames]]">
            <div>[[item]]</div>
        </template>
    </template>

    <script>
        class ClientApp extends Polymer.Element {
            static get is() { return 'client-app'; }

            connectedCallback() {
                super.connectedCallback();

                this.hideSourcePre = true;
                this.shadowRoot.querySelector('#ironAjax1').generateRequest();
                this.domain = getDomain();

                function getDomain() {
                    if (window.location.hostname === 'localhost') {
                        return window.location.href;
                    }
                    else {
                        return 'http://scramjs.org/';
                    }
                }
            }

            getSource() {
                this.$.ironAjax2.generateRequest();
            }

            removeSource() {
                this.hideSourcePre = true;
            }

            getCat() {
                this.$.ironAjaxCat.generateRequest();
            }

            hideCat() {
                this.catDataUrl = '';
            }

            handleRunningSince(e) {
                this.runningSince = e.detail.response;
            }

            handleSourceCode(e) {
                this.hideSourcePre = false;
                this.serverSource = e.detail.response;
            }

            handleCat(e) {
                const catBlob = e.detail.response;
                this.catDataUrl = window.URL.createObjectURL(catBlob);
            }

            handleCats(e) {
                this.catNames = e.detail.response.catNames;
                console.log(e.detail.response.catNames);
            }
        }

        window.customElements.define(ClientApp.is, ClientApp);
    </script>
</dom-module>
