<link rel="import" href="/bower_components/polymer/polymer.html">
<link rel="import" href="/bower_components/iron-ajax/iron-ajax.html">

<dom-module id="client-app">
    <template>
        <iron-ajax id="ironAjax1" url="http://localhost:5000/api/running-since" method="get" on-response="handleRunningSince"></iron-ajax>
        <iron-ajax id="ironAjax2" url="http://localhost:5000/api/source-code" method="get" on-response="handleSourceCode" handle-as="text"></iron-ajax>

        <div>This page was served up from a headless Electron instance managed by Dokku</div>
        <br>
        <div>Server running since: [[runningSince]]</div>
        <br>
        <div>Server HTML Source:</div>
        <!--TODO get syntax highlighting-->
        <pre style="background: rgba(0, 0, 0, .1); padding: 25px">
            [[serverSource]]
        </pre>
    </template>

    <script>
        class AppComponent {
            beforeReady() {
                this.is = 'client-app';
            }

            ready() {
                this.$.ironAjax1.generateRequest();
                this.$.ironAjax2.generateRequest();
            }

            handleRunningSince(e) {
                this.runningSince = e.detail.response;
            }

            handleSourceCode(e) {
                console.log(e.detail.response);
                this.serverSource = e.detail.response;
            }
        }

        Polymer(AppComponent);
    </script>
</dom-module>
